
<div class="container">
  <div style="display: flex;flex-direction: row;justify-content: space-between;width: 100%;">
    <div>
     <strong> MY BLOG</strong>
    </div>
    <div class="add-button">
      <input  placeholder="Search" [(ngModel)]="searchText">    
      <button mat-flat-button color="primary" (click)="addProfile()" >
             Add
      </button>
    </div> 
  </div>
    
   
    <div class="grid-container">
      <div class="example-card" *ngFor="let item of personLists | filter: searchText" >
        <mat-card class="example-card" (click)="editProfile(item)">
          <mat-card-header>
            <div mat-card-avatar style="background-image: url({{item.avatar}});background-size: cover;"></div>
            <mat-card-title class="card-title">{{item.name}}</mat-card-title>
            <mat-card-subtitle>Age : {{item.dob | age}} | {{item.country}} </mat-card-subtitle>
          </mat-card-header>
          <img mat-card-image src="{{item.avatar}}" alt="Photo of a Shiba Inu">
          <mat-card-content>
            
          </mat-card-content>
          <mat-card-actions>
           <p class="email-title"><strong>email</strong> : {{item.email}}</p>
          </mat-card-actions>
        </mat-card>
      </div>
    </div>
  </div>