.container{
    margin-top: 10px;
    margin-bottom: 50px;
 }
 .example-card {
     max-width: 250px;
 }
   .example-card :hover{
     opacity: 0.7;
     cursor: pointer;
   }
   .card-title{
     font-size: 18px!important;
   }
   .email-title{
     font-size: 14px!important;
   }
   .grid-container {
     display: grid;
     grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
     grid-gap: 20px;
     justify-items: center;
   }
   
   .example-card {
     width: 100%;
   }
 .add-button{
     width: 99%;
     display: flex;
     justify-content: flex-end;
     padding: 20px;
     column-gap: 10px;
 }
 .deledt-cross{
  background-color: red;
  color: white;
  width: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3px;
  height: 20px;
  border-radius: 0.1rem;
}
.deledt-cross :hover{
  cursor: pointer;
  opacity: 0.5rem;
}